<div class="col-sm-4 blog-sidebar">

    <div class="sidebar-module sidebar-module-inset">
        <h4>About UKMON</h4>
        <p>UK Meteor Observation Network (UKMON) is a free and open group of astonomy enthusiasts. </p>
        <p>We collect scientifically important data from our cameras and this data is shared with other groups worldwide to expand our understanding of the Solar System.</p>
        <p>There is no fee to join our group, no meetings and no nonsense. Meteor detection is our hobby and we all like to enjoy this wonderful activity.</p>
    </div>

    <div class="sidebar-module sidebar-module-inset">
        <h4>Have you seen a fireball?</h4>
        <p>You saw something bright and fast? Like a huge shooting star? Report it: it may be a fireball.</p>
        <p>
            <a class="btn btn-danger btn-lg btn-block" href="{{ site.baseurl }}/fireball-report/" role="button">Fireball Report Form</a>
        </p>
    </div>

    <!--
    <div class="sidebar-module sidebar-module-inset">
        <h4>Support UKMON</h4>
        <p>You can now support UKMON website by purchashing our official tshirt.</p>
        <img src="/img/tshirt.png" class="img-responsive" />
        <hr />
        <button type="button" class="btn btn-danger btn-lg btn-block">buy now for £19.99</button>
        <p class="text-center">
            <small>shipping worldwide</small>
        </p>
    </div>
    -->

    <!--
    <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
        </ol>
    </div>
  -->

</div>
<!-- /.blog-sidebar -->
