<div class="col-sm-3 left-menu">
    <div class="list-group">
        <a href="{{ site.baseurl }}/equipment-camera-and-lens/" class="list-group-item {% if page.url == '/equipment-camera-and-lens/' %} active{% endif %}">Camera and Lens</a>
        <a href="{{ site.baseurl }}/equipment-computer/" class="list-group-item {% if page.url == '/equipment-computer/' %} active{% endif %}">Computer</a>
        <a href="{{ site.baseurl }}/equipment-cabling-and-power/" class="list-group-item {% if page.url == '/equipment-cabling-and-power/' %} active{% endif %}">Cabling and power</a>
        <a href="{{ site.baseurl }}/equipment-external-enclosure/" class="list-group-item {% if page.url == '/equipment-external-enclosure/' %} active{% endif %}">External Enclosure</a>
        <a href="{{ site.baseurl }}/equipment-software/" class="list-group-item {% if page.url == '/equipment-software/' %} active{% endif %}">Software</a>
        <a href="{{ site.baseurl }}/join-ukmon/" class="list-group-item {% if page.url == '/join-ukmon/' %} active{% endif %}">Join UKMON</a>
    </div>
</div>
