<div class="col-sm-3 left-menu">
    <div class="list-group">
        <a href="{{ site.baseurl }}/about-history/" class="list-group-item {% if page.url == '/about-history/' %} active{% endif %}">History</a>
        <a href="{{ site.baseurl }}/about-the-team/" class="list-group-item {% if page.url == '/about-the-team/' %} active{% endif %}">The Team</a>
        <a href="{{ site.baseurl }}/collaboration/" class="list-group-item {% if page.url == '/collaboration/' %} active{% endif %}">Collaboration</a>
        <a href="{{ site.baseurl }}/about-friends/" class="list-group-item {% if page.url == '/about-friends/' %} active{% endif %}">Friends</a>
        <a href="{{ site.baseurl }}/contact/" class="list-group-item {% if page.url == '/contact/' %} active{% endif %}">Contact Us</a>
        <a href="{{ site.baseurl }}/join-ukmon/" class="list-group-item {% if page.url == '/join-ukmon/' %} active{% endif %}">Join UKMON</a>
    </div>
</div>
